body {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(../img/fon.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;

}


.wraper__login {

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .7);
    border-top: 5px solid rgba(255, 255, 255, 0.4);


}

.wraper__login h2 {
    margin: 30px 160px;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}

/* -------------окна для регистрацый */
.wraper__login-2 {

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .7);
    border-top: 5px solid rgba(255, 255, 255, 0.4);


}

.wraper__login-2 h2 {
    margin: 30px 85px;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}
/* ------------------конец */
    
/*  */
.input-form {
    margin: 15px 40px;
    text-align: center;

}

.input-form input {
    padding: 10px;
    width: 100%;
    color: #fff;
    font-size: 18px;
    background: none;
    outline: none;
    border: 1px solid #fff;
    box-sizing: border-box;
    text-align: center;
}


.input-form input[type="email"]:focus,
.input-form input[type="date"]:focus,
.input-form input[type="text"]:focus,
.input-form input[type="password"]:focus {
    border: 1px solid #0fc3f5;
}

.input-form input[type="submit"] {
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background: #0fc3f5;
    transition: .3s;
}

.input-form input[type="submit"]:hover {
    background: #4442db;

}

.forget-sing-up {
    display: flex;
    justify-content: space-evenly;
}

.forget-sing-up a {
    display: block;
    padding: 0 0 30px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

.forget-sing-up a:hover {
    color: #0fc3f5;
}

/* --------------- */
.forget-up {
    margin-top: 20px;
}
    .forget-up a {
    display: block;
    padding: 0 0 20px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

.forget-up a:hover {
    color: #0fc3f5;
}

